<!doctype html>
<html lang="en">
  <head>
    <title>{{data['Name']}}</title>
  </head>

<body>

<h1> {{data['Name']}}:</h1>
<p>Latitude: {{ data['Latitude'] }}</p>
<p>Longitude: {{ data['Longitude'] }}</p>
<p>Phone: {{data['Phone']}}</p>
<p>Street Address: {{data['Street Address']}}</p>
<p>City: {{data['City']}}</p>
<p>State: {{data['State']}}</p>
<p>ZIP: {{data['Zip']}}</p>
<p>Type: {{data['Type']}}</p>
<p>Website: {{data['Website']}}</p>
<a href="{{url_for('addItems', location = data['Key']) }}"><button>Add Item</button></a>
<p>Items:
    <ul>
    {% for item in data['Items'] %}
    <li>
{{data['Items'][item]['type']}}
</li>
    {% endfor %}
</ul>
</p>
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q={{ data['Latitude'] }},{{ data['Longitude'] }}&key=AIzaSyDb5OTYD1fQhxyA-iLKWzX_Og666-DgK_E" allowfullscreen></iframe>
</body>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
<script src="{{url_for('static', filename='app.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='custom.css')}}">
</html>
